<!--CREATE TABLE sys_user(-->
<!--userId INT(10) UNSIGNED PRIMARY KEY  AUTO_INCREMENT,-->
<!--userName VARCHAR(20) NOT NULL,-->
<!--nickName VARCHAR(20) NOT NULL DEFAULT '',-->
<!--password VARCHAR(16) NOT NULL ,-->
<!--gender TINYINT(1) UNSIGNED NOT NULL DEFAULT 2 COMMENT '性别: 0 女 1 男 2 未知',-->
<!--headPic VARCHAR(255) NOT NULL COMMENT '头像',-->
<!--email CHAR(60) NOT NULL DEFAULT '',-->
<!--tel VARCHAR(11) NOT NULL DEFAULT '',-->
<!--addTime INT(10) UNSIGNED NOT NULL COMMENT '用户注册时间',-->
<!--lastTime INT(10) UNSIGNED NOT NULL DEFAULT 0,-->
<!--lastIp CHAR(30) NOT NULL DEFAULT '127.0.0.1',-->
<!--roleRank TINYINT(1) UNSIGNED NOT NULL DEFAULT 0 COMMENT '最高级别为10级,普通用户级别为0'-->
<!--)ENGINE=MyISAM charset utf8;-->
<div >
    <form action="__URL__/adduser" method="post" role="form" class="form-horizontal" >
        <div class="form-group">
            <label for="userName" class="col-xs-2 control-label">用户名</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" name="userName" id="userName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="nickName" class="col-xs-2 control-label">昵&nbsp;&nbsp;&nbsp;&nbsp;称</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" name="nickName" id="nickName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-xs-2 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" name="password" id="password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="comfirmPwd" class="col-xs-2 control-label">确认密码</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" name="comfirmPwd" id="comfirmPwd"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">性别</label>
            <div class="radio col-xs-10">
                <label class="col-xs-2"><input type="radio" name="gender" id="female" value="0"/>女</label>
                <label class="col-xs-2"><input type="radio" name="gender" id="male" value="1"/>男</label>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-xs-2 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" name="email" id="email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="tel" class="col-xs-2 control-label">电&nbsp;&nbsp;&nbsp;&nbsp;话</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" name="tel" id="tel"/>
            </div>
        </div>
        <div class="form-group">
            <label for="raleRank" class="col-xs-2 control-label">权限级别</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" name="roleRank" id="raleRank"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">添加用户</button>
            </div>
        </div>
    </form>
</div>