<!--CREATE TABLE sys_user(-->
<!--userId INT(10) UNSIGNED PRIMARY KEY  AUTO_INCREMENT,-->
<!--userName VARCHAR(20) NOT NULL,-->
<!--nickName VARCHAR(20) NOT NULL DEFAULT '',-->
<!--password VARCHAR(16) NOT NULL ,-->
<!--gender TINYINT(1) UNSIGNED NOT NULL DEFAULT 2 COMMENT '性别: 0 女 1 男 2 未知',-->
<!--headPic VARCHAR(255) NOT NULL COMMENT '头像',-->
<!--email CHAR(60) NOT NULL DEFAULT '',-->
<!--tel VARCHAR(11) NOT NULL DEFAULT '',-->
<!--addTime INT(10) UNSIGNED NOT NULL COMMENT '用户注册时间',-->
<!--lastTime INT(10) UNSIGNED NOT NULL DEFAULT 0,-->
<!--lastIp CHAR(30) NOT NULL DEFAULT '127.0.0.1',-->
<!--roleRank TINYINT(1) UNSIGNED NOT NULL DEFAULT 0 COMMENT '最高级别为10级,普通用户级别为0'-->
<!--)ENGINE=MyISAM charset utf8;-->

<div></div>